# Compose file for local testing purposes
name: ${COMPOSE_PROJECT_NAME}

services:
  # React Client
  web:
    build:
      context: ${WEB_DIR_PATH}
      dockerfile: Containerfile
    ports:
      - 3000:3000
    environment:
      - VITE_API_URL=${VITE_API_URL}
      - HOST=${HOST}
      - CHOKIDAR_USEPOLLING=${CHOKIDAR_USEPOLLING}
      - WATCHPACK_POLLING=${WATCHPACK_POLLING}
      - WDS_SOCKET_PORT=${WDS_SOCKET_PORT}
    depends_on:
      - api
    volumes:
      - ${WEB_DIR_PATH}/src:/app/src
      - ${WEB_DIR_PATH}/public:/app/public

  # Django API
  api:
    restart: on-failure
    build:
      context: ${API_DIR_PATH}
      dockerfile: Containerfile
    ports:
      - 8000:8000
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - ALLOWED_HOSTS=${ALLOWED_HOSTS}
      - FRONTEND_ORIGINS=${FRONTEND_ORIGINS}
      - DJANGO_DEBUG=${DJANGO_DEBUG}
      - SECURE_SSL_REDIRECT=${SECURE_SSL_REDIRECT}
      - SECURE_HSTS_SECONDS=${SECURE_HSTS_SECONDS}
      - SECURE_HSTS_INCLUDE_SUBDOMAINS=${SECURE_HSTS_INCLUDE_SUBDOMAINS}
      - SECURE_HSTS_PRELOAD=${SECURE_HSTS_PRELOAD}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}     
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_CONN_MAX_AGE=${DB_CONN_MAX_AGE}
      - PYTHONDONTWRITEBYTECODE=${PYTHONDONTWRITEBYTECODE}
      - PYTHONUNBUFFERED=${PYTHONUNBUFFERED}
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ${API_DIR_PATH}/src:/app

  # Postgres DB
  db:
    restart: unless-stopped
    image: postgres:16
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - ${DB_PORT}:${DB_PORT}
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: