name: Build and push API image

on:
  push:
    branches: [ main ]
    paths:
      - 'api/**'
      - '.github/workflows/cicd-api.yml'
  workflow_dispatch:

env:
  IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/timeboxer-api

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-qemu-action@v3       # Emulation needed for mult-arch imgs
      - uses: docker/setup-buildx-action@v3     # Docker Buildkit for buildimg imgs

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./api
          file: ./api/Containerfile
          push: true
          tags: docker.io/${{ env.IMAGE_NAME }}:latest
