name: manual-workflow-test
run-name: Manual workflow run no. ${{ github.run_number }}
on: [workflow_dispatch]
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: cat /api/requirements.txt